<!-- Need to add this link so that it links to the homepage -->

<!DOCTYPE html>

<head>

    <meta charset= "utf-8">
    <title>Oauth Tutorials</title>
</head>







<nav>
    <ul>
   <!-- creates the route -->

   <li><a href="/auth/logout">Logout</a></li>
   
   <li><a href="/auth/login">Login</a></li>

   <li><a href="/">Hompage</a></li>

   <li><a href="/profile">Profile</a></li>
    </ul>
    </nav>

    <header>
        <h2>Hompage</h2>
    </header>
    <!-- This is conditionally showing what we want in our application----if we login....then the logout button doesn't show until after we log in... -->
   <!-- options of showing the buttons---optional choices....google passport video #20 --> 
     

   

   </html>