body{
  background-color: #8f8f8f; 
  background-image: linear-gradient(to bottom right, lightblue, green); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}

.jumbotron {
  float: none;
  text-align: center;
  background-color: #fcf2bd;
  padding-bottom: 20px;
  padding-top: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h1{
  font:bold;
}

.side-nav{
  background-color: whitesmoke;
  float: left;
  text-align: left;
  padding-bottom: 100%;
  clear:left;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.monkey{
  font-size: 80px;    
  color: black;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.search-container button{
  float:left;
}

.card-body {
  width: 750px;
  
}

<<<<<<< HEAD
=======
.container{
  float: left;
}

.submit{
  position: relative;
}

>>>>>>> e7e429b349b9f4268f2320fc41b90cc9023e7f87
